img {
  display: block;
}

a {
  text-decoration: none;
}

body {
  background: -webkit-linear-gradient(90deg, #405758, #5e787b, #405758);
  background: linear-gradient(90deg, #405758, #5e787b, #405758);
  transition: all 0.9s ease;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.link__img {
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 300px;
  height: 300px;
  overflow: hidden;
  position: relative;
  transition: all 0.9s ease;
}

.link__img:hover {
  transform: scale(1.7) rotate(360deg);
}

body:has(.link__img:hover) {
  background-color: #fff;
}

.img {
  width: 300px;
  height: 300px;
  position: absolute;
  bottom: -10px;
}
